<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @section Scripts{}
    @Scripts.Render("~/bundles/jquery")@Scripts.Render("~/bundles/knockout")
    @Styles.Render("~/Style/")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
