@{
    Layout = "/Views/_Layout.cshtml";
    ViewBag.Title = "Search books by substring.";
}

<div class="wrapper group">
    <div class="topPanel">
        <h3>Search books having word (min length 3):</h3>
    <input id="enterBox" class="enterBox" name="substring" type="text" data-bind="value: substring, valueUpdate: 'afterkeydown'" />
        <div id="textFragment" class="box fragmentDisplay">
        </div>

    </div>

    <div class="resultList">
        <table style="min-width: 400px">
            <thead>
            <tr><td style="min-width: 200px;font-weight: bold">Books:</td>
                <td id="ssHeader" style="min-width: 200px;font-weight: bold"
                    data-bind="text: 'Substring positions ' + (bookLocations()?'(total ' + bookLocations().length + '):':'')"
                /></tr>
            </thead>
            <tr>
                <td style="vertical-align: top">
                    <ul data-bind="foreach: books">
                        <li><a data-bind="text: $data,
                   click: $parent.getLocations
                   " href="#"></a></li>
                    </ul>
                </td>
                <td>
                    <div data-bind="foreach: bookLocations">
                        <a data-bind="text: ' (' + $data.Location +')',
                   click: $parent.getTextFragment
                   " href="#"></a>,
                    </div>
                </td>
            </tr>
        </table>
    </div>
    
    <div id="sign">TestProject for position of <b>algorithm developer</b> by <b>Maxim Trushin</b>.</div>
</div>
<script>
    
    var viewModel = {
        substring: ko.observable(),
        books: ko.observableArray(),
        bookLocations: ko.observableArray(),
        getTextFragment: GetTextFragment,
        getLocations: GetLocations
    };
    ko.applyBindings(viewModel);
    viewModel.substring.subscribe(OnSubstringChange);

    var getTextFragmentRequest;
    function GetTextFragment(data) {
        if (getTextFragmentRequest)
            getTextFragmentRequest.abort();
        getTextFragmentRequest = $.getJSON("/api/search/getTextFragment",
            data,
            function(data) {
                var t = data;
                var searchMask = viewModel.substring();
                var regEx = new RegExp(searchMask, "ig");
                var replaceMask = "<span class='highlight'>" + viewModel.substring() + "</span>";
                $("#textFragment").html(t.replace(regEx, replaceMask));
            });
    }

    var getLocationsRequest;
    function GetLocations(data) {
        $("#textFragment").html("");
        viewModel.bookLocations(null);
        if (getLocationsRequest) getLocationsRequest.abort();

        getLocationsRequest = $.ajax(
            "/api/search/getLocations",
            {
                data: { fileName: data, sub: viewModel.substring },
                success: function (data) {
                    viewModel.bookLocations(data);
                }
            }
        );
            
    };

    var timeoutId;
    function SendGetBooksRequest(substring) {
        $("#textFragment").html("");
        window.clearTimeout(timeoutId);
        timeoutId = setTimeout(GetBooks, 500, substring.toLowerCase());
    };

    function OnSubstringChange(substring) {
        viewModel.books(null);
        viewModel.bookLocations(null);
        $("#textFragment").html("");
        SendGetBooksRequest(substring);

    }

    var getBooksRequest;
    function GetBooks(substring) {
        if (substring.length === 0) return;
        var to = timeoutId;
        if (getBooksRequest)
            getBooksRequest.abort();
        getBooksRequest = $.getJSON("/api/search/getBooks",
            { sub: substring },
            function (data) {
                $("#textFragment").html("");
                if (to === timeoutId) viewModel.books(data);
            }
        ).fail(
            function() {
                $("#textFragment").html("<span class='highlight'>" + "Indexing is still running. Retrying..." + "</span>");
                timeoutId = setTimeout(GetBooks, 2000, substring.toLowerCase());
            }
        );
    }

    $("#enterBox").focus();

    viewModel.substring("the");
</script>

