@{
    Layout = "/Views/_Layout.cshtml";
    ViewBag.Title = "Search books by substring.";
}


<div class="wrapper group">
    <div class="topPanel">
    <h3>Enter the substring to search the books:</h3>
    <input id="enterBox" class="enterBox" name="substring" type="text" data-bind="value: substring, valueUpdate: 'afterkeydown'" />
        <div id="textFragment" class="box fragmentDisplay">
        </div>

    </div>

    <div class="resultList">
        <ul data-bind="foreach: booksLocations">
            <li><a data-bind="text: $data.FileName + ' (' + $data.Location +')',
                   click: $parent.getTextFragment
                   " href="#"></a></li>
        </ul>
    </div>
</div>
<script>
    var timeoutId;
    var viewModel = {
        substring: ko.observable(),
        booksLocations: ko.observableArray(),
        getTextFragment: GetTextFragment
    };
    viewModel.substring.subscribe(SendRequest);
    ko.applyBindings(viewModel);

    function GetTextFragment(data) {
        var i = data.Location;
        var d = data.FileName;
        $.getJSON("/api/search/getTextFragment",
            data,
            function(data) {
                var t = data;
                //t = t.replace(viewModel.substring(), "<span class='highlight'>" + viewModel.substring() + "</span>");

                var searchMask = viewModel.substring();
                var regEx = new RegExp(searchMask, "ig");
                var replaceMask = "<span class='highlight'>" + viewModel.substring() + "</span>";
                $("#textFragment").html(t.replace(regEx, replaceMask));
            });


    }

    function SendRequest(substring) {
        $("#textFragment").html("");
        window.clearTimeout(timeoutId);
        timeoutId = setTimeout(UpdateResults, 200, substring.toLowerCase());
    };


    function UpdateResults(substring) {
        if (substring.length === 0) return;
        $.getJSON("/api/search?id=" + substring, function (data) {
            viewModel.booksLocations(data);
        }
        );
    }
    $("#enterBox").focus();
</script>

